In [89]:
import nltk
import pandas as pd
from sklearn.model_selection import train_test_split

In [4]:
color_dataset = pd.read_csv('Chrome_colors.csv',encoding='latin-1')

In [6]:
color_dataset.head()

,Ext1Desc,GenericExt1Color,DivisionName,subDivisionName,modelname
0,Ablaze,Red,Scion,Scion Cars,FR-S
1,Ablaze Red Metallic,Red,Suzuki,Suzuki,SX4
2,Adriatic Blue Metallic,Blue,Isuzu,Isuzu Pickups,i-280
3,Agate Green,Green,Mercedes-Benz,Mercedes-Benz,G-Class
4,Akoya Silver Metallic,Silver,Audi,Audi,A8 L

In [174]:
color_labeled_names = ([(row['Ext1Desc'],row['GenericExt1Color']) for index, row in color_dataset.iterrows()])

In [175]:
random.shuffle(color_names)

In [178]:
len(color_labeled_names)

42461

In [179]:
train_set, test_set = color_labeled_names[1000:], color_labeled_names[:1000]

In [180]:
# train_set = train_set[1:10]

In [181]:
train_set[1:20]

[('Aurora Red Metallic', 'Red'),
 ('Austin Tan Pearl', 'Tan'),
 ('Austin Tan Pearl', 'Tan'),
 ('Autumn Bronze Pearl', 'Brown'),
 ('Azores Green Metallic', 'Green'),
 ('Azure Blue', 'Blue'),
 ('Azure Blue (Met)', 'Blue'),
 ('Azure Blue (Met)', 'Blue'),
 ('Azure Blue (Met)', 'Blue'),
 ('Azure Blue Metallic', 'Blue'),
 ('Azure Blue Pearl', 'Blue'),
 ('Azurite Blue Pearl', 'Blue'),
 ('Azzurro California', 'Blue'),
 ('Azzurro Monaco', 'Blue'),
 ('Baltic Blue', 'Blue'),
 ('Blue Ice', 'Blue'),
 ('Blue Indigo', 'Blue'),
 ('Blue Jeans', 'Blue'),
 ('Blue Jeans Metallic', 'Blue')]

In [182]:
from nltk.tokenize import word_tokenize # or use some other tokenizer

In [ ]:
all_words = set(word.lower() for passage in train_set for word in word_tokenize(passage[0]))

In [ ]:
t = [({word: (word in word_tokenize(x[0])) for word in all_words}, x[1]) for x in train_set]

In [ ]:
t

In [ ]:
classifier = nltk.NaiveBayesClassifier.train(t)

In [ ]:
# https://stackoverflow.com/questions/20827741/nltk-naivebayesclassifier-training-for-sentiment-analysis

In [ ]:
#test
test_sentence = "Blue Velvet Pearl"

In [ ]:
test_sent_features = {word.lower(): (word in word_tokenize(test_sentence.lower())) for word in all_words}

In [170]:
classifier.classify(test_sent_features)

'Teal'

In [ ]:
classifier.show_most_informative_features()

In [17]:
def gender_features(word):
    return {'last_letter': word[-1]}

In [124]:
from nltk.corpus import names
import random
# nltk.download()

In [125]:
labeled_names = ([(name, 'male') for name in names.words('male.txt')] + [(name, 'female') for name in names.words('female.txt')])

In [126]:
labeled_names[1:10]

[('Aaron', 'male'),
 ('Abbey', 'male'),
 ('Abbie', 'male'),
 ('Abbot', 'male'),
 ('Abbott', 'male'),
 ('Abby', 'male'),
 ('Abdel', 'male'),
 ('Abdul', 'male'),
 ('Abdulkarim', 'male')]

In [127]:
random.shuffle(labeled_names)

In [128]:
featuresets = [(gender_features(n), gender) for (n, gender) in labeled_names]

In [129]:
featuresets[1:10]

[({'last_letter': 'f'}, 'male'),
 ({'last_letter': 'f'}, 'male'),
 ({'last_letter': 'd'}, 'female'),
 ({'last_letter': 'a'}, 'female'),
 ({'last_letter': 'a'}, 'female'),
 ({'last_letter': 'l'}, 'male'),
 ({'last_letter': 'a'}, 'female'),
 ({'last_letter': 'e'}, 'female'),
 ({'last_letter': 'a'}, 'female')]

In [130]:
train_set, test_set = featuresets[500:], featuresets[:500]

In [131]:
train_set[1:10]

[({'last_letter': 'e'}, 'female'),
 ({'last_letter': 'e'}, 'male'),
 ({'last_letter': 'e'}, 'female'),
 ({'last_letter': 'a'}, 'female'),
 ({'last_letter': 'd'}, 'male'),
 ({'last_letter': 'a'}, 'female'),
 ({'last_letter': 'r'}, 'male'),
 ({'last_letter': 'n'}, 'female'),
 ({'last_letter': 's'}, 'male')]

In [132]:
classifier = nltk.NaiveBayesClassifier.train(train_set)

In [133]:
print(nltk.classify.accuracy(classifier, test_set))

0.75

In [134]:
classifier.classify(gender_features('Elizabeth'))

'female'